* {
    margin: 0;
    padding: 0;
}

.home {
    width: 100%;
    height: 50px;
    background-color: grey;
    position: fixed;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    text-align: center;
    align-items: center;
    padding-top: 15px;
    list-style: none;
    margin-left: 25px;
    font-size: 15px;
}

.image {
    margin-top: 50px;
    width: 100%;
    height: 40em;
}

.container {
    position: relative;
}

.img-text {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: blue;
    font-size: 22px;
    font-weight: bold;
    word-spacing: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.swiped {
    width: 100%;
    height: 600px;
}

.macbook {
    display: flex;
    justify-content: space-around;
}

div.para {
    margin-left: 10%;
    font-size: 14px;
    padding-top: 27px;
}

footer {
    background-color: azure;
    margin-top: 27px;
}

.listitem,
.copy {
    display: flex;
    justify-content: space-around;
}

.listitem li {
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.listitem li a {
    color: black;
}

.bold {
    font-weight: bold;
}

p {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

span {
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}